{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{sub_dirs, ["rel"]}.
{lib_dirs,["lib", "plugins"]}.
{deps_dir, ["deps"]}.
{deps_dir, ["deps"]}.
{sub_dirs, ["rel"]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}},
  {enm, ".*", {git, "https://github.com/basho/enm.git", {branch, "vinoski/fix7-round2"}}}
]}.

{erl_opts, [{i, "include"},
  {src_dirs, ["src", "test"]}]}.

{eunit_opts, [
  {skip_deps, true},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.

{cover_enabled, true}.
{ct_log_dir, "test/logs"}.
{clean_files, ["test/logs", "test/*.beam"]}.
