%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
  {lib_dirs, ["../deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "msgbus_rpc_proxy", "1",
    [
      kernel,
      stdlib,
      sasl,
      lager,
      protobuffs,
      enm,
      msgbus_rpc_proxy
    ]},
  {rel, "start_clean", "",
    [
      kernel,
      stdlib
    ]},
  {boot_rel, "msgbus_rpc_proxy"},
  {profile, embedded},
  {incl_cond, derived},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, ["^bin/(?!start_clean.boot)",
    "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"]},
  {excl_app_filters, ["\.gitignore"]},
  {app, msgbus_rpc_proxy, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
  {app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "msgbus_rpc_proxy"}.

{overlay, [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "msgbus_rpc_proxy/bin/start_clean.boot",
    "\{\{erts_vsn\}\}/bin/start_clean.boot"},
  {copy, "files/msgbus_rpc_proxy", "bin/msgbus_rpc_proxy"},
  {copy, "files/msgbus_rpc_proxy.cmd", "bin/msgbus_rpc_proxy.cmd"},
  {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
  {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {template, "files/app.config", "etc/app.config"},
  {template, "files/vm.args", "etc/vm.args"}
]}.
